@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-[#050505] text-[#00FF41] selection:bg-[#00FF41] selection:text-black font-mono;
  }
}

@layer utilities {
  .vertical-rl { writing-mode: vertical-rl; }
  .shadow-green { text-shadow: 0 0 10px rgba(0, 255, 65, 0.5); }
  .scanlines {
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%),
                linear-gradient(90deg, rgba(255, 0, 0, 0.02), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.02));
    background-size: 100% 4px, 3px 100%;
  }
}
